.profile-parent {
  color: black;
}
.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
}
.primary-text {
  color: (--black);
}
.highlighted-text {
  color: var(--dark-orange);
}
.profile-details-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover {
  background-color: #fff;
  color: #111;
}
.profile-picture {
  box-shadow: 0 2px 0px 0px var(--white);
  border-radius: 50%;
  height: 380px;
  width: 360px;
}
.profile-picture-background {
  height: 95%;
  width: 92%;
  background-image: url("../../../assets/Home/profile-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  margin: 0 auto;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
.icons i {
  color: black;
  padding: 8px 8px 8px 0;
  font-size: 18px;
}
.icons i:hover {
  transform: scale(1.5);
}

/* media queries */
@media screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
  }
}
